#root {
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  width: 100vw;
  height: 100vh;
}
input {
  padding: 8px 12px;
}

table {
  background: #403f3f;
  width: 100%;
  th {
    padding: 10px 16px;
  }
  td {
    padding: 0px 16px;
  }
}

.alert-container {
  background: #ff6666;
  border-radius: 9px;
  color: #fff;
  padding: 16px 32px;
  margin-bottom: 16px;
  h3,
  p {
    margin: 0;
  }
}

.principal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.form-create {
  display: flex;
  flex-direction: column;
}
.form-create .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  label {
    font-weight: 500;
    font-size: 15px;
  }
  span {
    text-align: left;
    color: #ff6666;
  }
}
