#root {
  max-width: 1280px;
  margin: 0 auto;
}
input {
  padding: 8px 12px;
}

table {
  background: #403f3f;
  th {
    padding: 10px 16px;
  }
  td {
    padding: 0px 16px;
  }
}

.principal-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.form-create {
  display: flex;
  flex-direction: column;
}
.form-create .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  span {
    text-align: left;
    color: #ff6666;
  }
}
